.b-rating__mark
{
    width: 18px;
    height: 18px;

    background-image: url(b-rating_style_stars.png);
    background-position: -36px 0;
    background-repeat: no-repeat;
}

.b-rating__mark:hover
{
    background-position: -54px 0;
}

.b-rating__mark_fill_full,
.b-rating__mark_fill_1
{
    background-position: 0 0;
}

.b-rating__mark_fill_2
{
    background-position: -18px 0;
}
